<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>diffTerm</string>
	<key>CFBundleExecutable</key>
	<string>diffTerm</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>basic-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-basic-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>catppuccin-mocha</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-catppuccin-mocha</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>diffterm-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-diffterm-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>diffterm-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-diffterm-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dracula</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-dracula</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gruvbox-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-gruvbox-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>monokai</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-monokai</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>nord</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-nord</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>one-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-one-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sakura</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-sakura</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sakura-night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-sakura-night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>solarized-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-solarized-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>solarized-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-solarized-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tokyo-night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-tokyo-night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>basic-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-basic-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>catppuccin-mocha</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-catppuccin-mocha</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>diffterm-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-diffterm-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>diffterm-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-diffterm-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>dracula</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-dracula</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>gruvbox-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-gruvbox-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>monokai</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-monokai</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>nord</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-nord</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>one-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-one-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sakura</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-sakura</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>sakura-night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-sakura-night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>solarized-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-solarized-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>solarized-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-solarized-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>tokyo-night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-tokyo-night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>dev.diffterm.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>diffTerm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>14.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>JetBrainsMonoNerdFontMono-Regular.ttf</string>
		<string>JetBrainsMonoNerdFontMono-Bold.ttf</string>
		<string>JetBrainsMonoNerdFontMono-Italic.ttf</string>
		<string>JetBrainsMonoNerdFontMono-BoldItalic.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
